<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Part 1.2: Responsive Product Carousel</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="carousel">
      <div class="carousel-container">
        <!-- Product 1 -->
        <div class="carousel-item">
          <div class="carousel-item-content">
            <img
              src="https://dst.assets.gameloft.com/assets/DS_article_thumbnail_season4_1920x1080_EN_2c64867ea1.jpg"
              alt="Product 1"
            />
            <h3>SEASON 04</h3>
            <p>Disney Speedstorm season 4 the cave of wonders available now</p>
          </div>
        </div>

        <!-- Product 2 -->
        <div class="carousel-item">
          <div class="carousel-item-content">
            <img
              src="https://dst.assets.gameloft.com/assets/DS_23037_S_Season3_Key_Art_XBOX_HERO_EN_1310aad214.jpg"
              alt="Product 2"
            />
            <h3>SEASON 3</h3>
            <p>Disney Speedstorm season 3 ‘ohana available now</p>
          </div>
        </div>
        <!-- Product 3 -->
        <div class="carousel-item">
          <div class="carousel-item-content">
            <img
              src="https://dst.assets.gameloft.com/assets/DS_Season12_Banner_Background_EN_001c87e540.jpg"
              alt="Product 3"
            />
            <h3>SEASON 12</h3>
            <p>Disney Speedstorm tron-inspired season 12 available now</p>
          </div>
          <!-- Product 4 -->
        </div>
        <div class="carousel-item">
          <div class="carousel-item-content">
            <img
              src="https://dst.assets.gameloft.com/assets/DS_article_thumbnail_season4_1920x1080_EN_2c64867ea1.jpg"
              alt="Product 4"
            />
            <h3>SEASON 04</h3>
            <p>Disney Speedstorm season 4 the cave of wonders available now</p>
          </div>
        </div>
        <!-- Product 5 -->
        <div class="carousel-item">
          <div class="carousel-item-content">
            <img
              src="https://dst.assets.gameloft.com/assets/DS_23037_S_Season3_Key_Art_XBOX_HERO_EN_1310aad214.jpg"
              alt="Product 5"
            />
            <h3>SEASON 3</h3>
            <p>Disney Speedstorm season 3 ‘ohana available now</p>
          </div>
        </div>
        <!-- Product 6 -->
        <div class="carousel-item">
          <div class="carousel-item-content">
            <img
              src="https://dst.assets.gameloft.com/assets/DS_Season12_Banner_Background_EN_001c87e540.jpg"
              alt="Product 6"
            />
            <h3>SEASON 12</h3>
            <p>Disney Speedstorm tron-inspired season 12 available now</p>
          </div>
        </div>
      </div>
    </div>
    <div class="carousel-controls">
      <button id="prev" class="page-dot left-arrow" aria-label="Previous Slide">
        &lt;
      </button>
      <div class="carousel-pagination">
        <span class="page-dot active">1</span>
        <span class="page-dot">2</span>
        <span class="page-dot">3</span>
      </div>
      <button id="next" class="page-dot right-arrow" aria-label="Next Slide">
        &gt;
      </button>
    </div>
    <script src="script.js"></script>
  </body>
</html>
